@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
*{
    overflow-x: hidden;
    font-family: "Oswald", sans-serif;
}
body{
    background-color: rgba(74, 0, 74, 0.897);
}